name: Run Python Build

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: "none"
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dev dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dev.txt -r requirements/base.txt
        pip install --no-cache-dir --index-url https://test.pypi.org/simple/ packit_llm==0.1.0
    - name: Check style
      run: make lint-check
    - name: Run tests
      run: make test
    # name: Upload coverage reports to Codecov
    # uses: codecov/codecov-action@v4.0.1
    # with:
    #   token: ${{ secrets.CODECOV_TOKEN }}
    #   slug: ssube/taleweaveai